.container-balancec {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px 0;
}

.content-info {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  width: 80%;
  margin: auto;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info span:first-child {
  font-size: 20px;
  width: 30%;
  text-align: left;
  border-bottom: 1px solid var(--fourth-color);
  border-radius: 4px;
}

.info span:last-child {
  border-top: 2px solid var(--fourth-color);
  border-radius: 4px;
  font-size: 24px;
  width: 30%;
  text-align: right;
}

@media (width <= 1100px) {
  .info span {
    width: 50% !important;
  }
}

@media (width <= 1000px) {
  .container-button-balance {
    top: 115%;
    right: 44%;
  }
}

@media (width <= 600px) {
  .info span {
    width: 80% !important;
  }
}
