.container-button {
  background-color: transparent;
  min-height: 30px;
  font-weight: bolder;
  font-size: 16px;
  border: 0;
  border-top: 2px solid var(--fourth-color);
  border-bottom: 2px solid var(--fourth-color);
  border-radius: 4px;
  cursor: pointer;
}

.container-button:hover {
  color: white;
  background-color: var(--fourth-color);
  transition: 0.5s;
}

.container-button svg:hover {
  fill: white;
}
