.container-transfer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 90%;
  margin: auto;
}

.container-btns {
  width: 20%;
  border-left: 3px solid var(--fourth-color);
  border-radius: 4px;
  padding-left: 8px;
}

.inputs-container div {
  margin: 15px 0px;
}

.inputs-container h3 {
  margin: 5px;
}

@media (width <= 600px) {
  .container-transfer {
    display: flex;
    flex-direction: column;
  }

  .container-btns {
    order: 0;
    width: 100%;
    border-bottom: 3px solid var(--fourth-color);
    padding: 20px 0;
    border-left: 0;
  }

  .container-vertical-line {
    order: 1;
  }

  .container-vertical-line .box {
    width: 50%;
  }
}
